/* ==================== SEARCHING FOR PEOPLE AND PAGES IN YOUR INBOX ================ */
.container {
  width: auto;
  height: auto;
}

.messangersearch {
  display: flex;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border-radius: 10%; */
}

.messangersearch input {
  width: 93%;
  border: none;
  border-bottom-right-radius: 0;
}

.search__icon {
  margin: auto;
  width: 12%;
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 10%;
}

/* ==================== PEOPLE WHO ARE ONLINE  IN INBOX ================ */
.OnlineChats___cards {
  display: flex;
  width: 100%;
  /* height: 10vh; */
  margin-top: 3%;
  background-color: white;
  padding: 3%;
  /* border: 5px solid red; */
}

.OnlineChats___cards .card {
  height: 14%;
  width: 18%;
  border-radius: 60%;
  /* border: 1px solid green; */
}

.card image {
  width: fit-content;
  height: fit-content;
}

.OnlineChats___cards img {
  height: 100%;
  width: 100%;
  border-radius: 60%;
}

/* ==================== chats you can interact with  ================ */
.chatsCards {
  margin-top: 3%;
  width: 100%;
  overflow: scroll;
  height: 59vh;
  background-color: whitesmoke;
}

.chatsCards .card {
  margin: 1%;
  border: none;
  background-color: rgb(238, 238, 238);
}

.chatsCards div {
  display: inline-block;
}


.chatsCards .card img {
  height: 90%;
  width: 90%;
  border-radius: 60%;
}

.chatimg {
  width: 15%;
  border-radius: 60%;
  /* margin-bottom: 15%; */
  margin-right: 2%;
  margin-left: 2%;
  /* border: 1px solid red; */
}

.nameText {
  width: 80%;
  /* padding-top: -4%; */
}

.Inbox {
  background-color: white;
  height: 100vh;
  width: 60%;
}

/* https://dribbble.com/shots/7833306-Facebook-Messenger-Redesigned-UI-Design */

/* https://www.google.com/search?q=2023+facebook+inbox+ui+image&tbm=isch&ved=2ahUKEwiy5Iy0rur-AhV-ricCHdUEB1wQ2-cCegQIABAA&oq=2023+facebook+inbox+ui+image&gs_lcp=CgNpbWcQAzoECCMQJ1DkBljGGmDgH2gAcAB4AIABogSIAdwckgEJMi0yLjUuMi4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=xFlbZLLyMP7cnsEP1Ymc4AU&bih=789&biw=1440#imgrc=ujTbIsccosYFzM */




/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 700px) {
  .inboxBody {
    display: flex;
  }

  .messangersearch,
  .OnlineChats___cards,
  .chatsCards {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }

    /* =========================== CODE FOR SEARCHING WHO IS ONLINE ON A DESKTOP ========================== */


  .messangersearch {
    display: flex;
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border-radius: 10%; */
  }

  
  /* =========================== CODE FOR SHOING WHO IS ONLINE ON A DESKTOP ========================== */

  .OnlineChats___cards {
    display: inline-block;
    width: 50%;
    height: auto;
    margin-top: 3%;
    background-color: white;
    padding: 3%;
    border-radius: 5%;
    
  }

   

  .OnlineChats___cards .card {
    margin: 2px;
    height: 48%;
    width: 90%;
    border-radius: 60%;
    border: 1px solid green;
  }

  /* =========================== CODE FOR SHOING PEOPLE IN YOUR INBOX ON A DESKTOP ========================== */
  /* .chatsCards {
    margin-top: 1%;
  } */

  .chatsCards {
    margin-top: 1%;
    margin-left: 2%;
    width: 40%;
    overflow: scroll;
    height: 59vh;
    background-color: white;
     
  }

  .chatsCards .card {
    margin: 1%;
    border: none;
    background-color: rgb(238, 238, 238);
  }

  .chatsCards .card img {
    height: 60%;
    width: 60%;
    border-radius: 60%;
  }

}