/* ==================== SEARCHING FOR PEOPLE AND PAGES IN YOUR INBOX ================ */

.messangersearch {
  display: flex;
  background-color: white;
  width: 95%;
  box-shadow: 0.5px 1px #181717;
  /* border-radius: 10%; */
}

.messangersearch input {
  width: 93%;
  border: none;
  border-bottom-right-radius: 0;
}

.search__icon {
  margin: auto;
  width: 12%;
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 10%;
}

/* ==================== PEOPLE WHO ARE ONLINE  IN INBOX ================ */
.OnlineChats___cards {
  display: flex;
  width: 100%;
  margin-top: 3%;
  background-color: white;
  padding: 3%;
  border: 2px solid red;
}

.OnlineChats___cards .card {
  height: 14%;
  width: 18%;
  border-radius: 60%;
}

.card image {
  width: fit-content;
  height: fit-content;
}

.OnlineChats___cards img {
  height: 100%;
  width: 100%;
  border-radius: 60%;
}

/* ==================== chats you can interact with  ================ */
.chatsCards {
  margin-top: 3%;
  width: 100%;
  overflow: scroll;
  height: 59vh;
  background-color: whitesmoke;
}

.chatsCards .card{ 
  margin: 1%;
  border: none;
  background-color: rgb(238, 238, 238);
}


.chatsCards div {
  display: inline-block;
}

/* .chatsCards .card img {
  height: 14%;
  width: 18%;
  border-radius: 60%;
} */

.chatsCards .card img {
  height: 90%;
  width: 90%;
  border-radius: 60%;
}

.chatimg {
  width: 15%;
  border-radius: 60%;
  /* margin-bottom: 15%; */
  margin-right: 2%;
  margin-left: 2%;
  /* border: 1px solid red; */
}

.nameText {
  width: 80%;
  /* padding-top: -4%; */
}


 /* https://dribbble.com/shots/7833306-Facebook-Messenger-Redesigned-UI-Design */

 /* https://www.google.com/search?q=2023+facebook+inbox+ui+image&tbm=isch&ved=2ahUKEwiy5Iy0rur-AhV-ricCHdUEB1wQ2-cCegQIABAA&oq=2023+facebook+inbox+ui+image&gs_lcp=CgNpbWcQAzoECCMQJ1DkBljGGmDgH2gAcAB4AIABogSIAdwckgEJMi0yLjUuMi4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=xFlbZLLyMP7cnsEP1Ymc4AU&bih=789&biw=1440#imgrc=ujTbIsccosYFzM */