/* ==================== SEARCHING FOR PEOPLE AND PAGES IN YOUR INBOX ================ */

.messangersearch {
  display: flex;
  background-color: white;
  width: 95%;
  box-shadow: 0.5px 1px  #181717;
  /* border-radius: 10%; */
}

.messangersearch input {
  width: 93%;
  border: none;
  border-bottom-right-radius: 0 ;
}

.search__icon {
  margin: auto;
  width: 12%;
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 10% ;
}



/* ==================== PEOPLE WHO ARE ONLINE  IN INBOX ================ */
.OnlineChats___cards {
    border: 2px solid red;
    display: flex;
    overflow-y: auto;
    /* height: initial; */
    width: 100%; 
    
}

.OnlineChats___cards {
    margin-top: 3%;
    background-color: white;
    padding: 3%;
}

.OnlineChats___cards .card {
    height: 14%;
    width: 18%;
    border-radius: 60%;
}

.card image {
    width: fit-content;
    height:fit-content;
}


.OnlineChats___cards  img {
    height: 100%;
    width: 100%;
    border-radius: 60%;
}