.posts {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    

}

.posts__div {
    /* border: 2px solid red; */
    width: 20%;
    text-align: center;

}

.posts__input {
    width: 75%;
    margin-left: 4%;
    margin-right: 4%;
}

.photes {
    justify-content: center;
}

/*================   Stories   =====================*/


.stories {
    display: flex;
    /* overflow-x: hidden; */
    overflow-y: auto;
    height: initial;
    width: initial;
    transform: none;
    
}

/* .stories img {
   display: flex;
} */


.cards {
    border: 30px solid red;
    width: 30%;
   
}

.Card {
    width: auto;
}