.home-post {
    width: 99%;
}

.posts {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.posts__div {
    /* border: 2px solid red; */
    width: 20%;
    text-align: center;
}

.posts__div__img {

    border-radius: 50%;
}

.posts__input {
    width: 75%;
    margin-left: 4%;
    margin-right: 4%;
}

.photes {
    justify-content: center;
}

/*===============================   Stories   ================================*/


.stories {
    display: flex;
    /* overflow-x: hidden; */
    overflow-y: auto;
    height: initial;
    width: initial;
    transform: none;
    margin-bottom: 5px;
}


.stories__Cards {
    /* border: 3px solid blue; */
    background-color: white;
    width: 30%;
    padding: 5px;
}

.card img {
    border-radius: 10px;
    height: 150px;
    width: 100px;
}

.card  {
    /* border: 3px solid red; */
    /* width: 98%; */
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

/*=============================   NEWS FEED   =============================*/

.newsFeed {
    background-color: white;
    padding: 10px;
}

.newsfeed__cards .card {
    border: 2px solid blue;
    border: 1px rgb(73, 73, 73) solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
}

.newsfeed__cards img {
    border: 0.5px solid black;
    border-radius: 0;
    width: 100%;
    height: 80%;
    text-align: center;
}

.newsfeed__cards .card {
    border-radius: 0;
}


/* ================= Reaction ================*/
 
.reaction__button button,
.reaction__button a {
    border: none;
    border-radius: 20px;
    margin: 2%;
    width: 29%;
    align-items: center;
    background-color: whitesmoke;
    color: black;
}

.reactions,
.searchpost {
    display: flex;
}

.posts__div__comment__input {
    width: 80%;
    margin-right: 5px;
}

.searchpost {
    justify-content: center;
}

/* .postbtn {
     border: 2px solid red; 
} */


/* ================= Comment ================*/

.Comment,
.responds {
    margin: 5px;
    font-size: medium;
}

.Comment .card {
    /* border: none; */
    background-color: rgb(201, 201, 201);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.responds .card {
    background-color: rgb(227, 227, 227);
    width: 70%;
    /* font-size: medium; */
}
.Comment__reactions .card{
    width: 80%;
    height: 30px;
    background-color: whitesmoke;
    border: none;
    margin: 5px;
}

.Comment__reaction {
    display: flex;
    height: 25px;
    margin-top: -20px;
    margin-left: 12%;
    background-color: whitesmoke;
}

.Comment__reaction div{
    margin: 5px;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 600px) {
    .home-post,
    .Comments,
    .searchpost,
    .newsfeed__cards__id,
    .reactions
     
        {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        
    }
  }